body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
/* 동아리 대표 이미지 */
.ca_img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 200px;
}
div h5{
    
}