a{
	text-decoration: none;
}
/* ul */
.menu {
    font-family: 'NanumSquare', sans-serif !important;
	width: 100%;
	height: 15%;
	margin: 0px auto;
	position: absolute;
	top:0;
	left:0;
}

.menu h3 { 
	font-size: 19px; 
	color: #000; 
    font-family: 'NanumSquare', sans-serif !important;
	font-weight: 500;
	float: left;
	margin-left: 2%;
	margin-top: 3%;
}

.menu #mypage {
	margin-left: 5%;
}

.menu img {
	margin-left: 4.5%;
	margin-top: 3%;
	float: left;
	width: 5%;
	height: auto;
}

/* line */
.line_1{
    float: left;
    margin-left: 50px;
}
.line_2{
    float: left;
	margin-top: 50px;
    margin-left: 50px;
}
.line{
    margin-left: 80px;
}
.w3-container{ border-radius: 20px; cursor: pointer; }
.line img{ border-radius: 20px; }
.w3-card-4{ border-radius: 20px; }

