
/* ul */
.menu {
    font-family: 'NanumSquare', sans-serif !important;
	width: 100%;
	height: 15%;
	margin: 0px auto;
	position: absolute;
	top:0;
	left:0;
}

button{
	cursor: pointer;
}
.menu h3 { 
	font-size: 19px; 
	color: #000; 
    font-family: 'NanumSquare', sans-serif !important;
	font-weight: 500;
	float: left;
	margin-left: 2%;
	margin-top: 3%;
}

.menu #mypage {
	margin-left: 5%;
}

.menu img {
	margin-left: 4.5%;
	margin-top: 3%;
	float: left;
	width: 5%;
	height: auto;
}

/* 프로필 메인 */
.profile_img{
	margin-top: 15px;
	margin-left: 110px;
	width: 50px;
	float: left;
}
.mypage_title{
	font-family: 'NanumSquare', sans-serif !important;
}

hr{
    height: 1px;
    width: 1320px;
    margin: 0 auto;
    margin-top:30px;
    border:0;
    background:rgb(143, 143, 143);
}

/* 회원정보 */
.info_title{
	font-family: 'NanumSquare', sans-serif !important;
	margin-top: 40px;
	margin-left: 100px;
	margin-bottom: 20px;
}
.member_info{
	font-family: 'NanumSquare', sans-serif !important;
	margin-left: 100px;
	padding-top: 15px;

}
input{
	margin-top: 5px;
	margin-bottom: 20px;
	height: 30px;
}
input[type="text"]{
	font-family: 'NanumSquare', sans-serif !important;
	width: 150px;
	height: 32px;
	padding-left: 10px;
	border-radius: 11px;
	border:1px solid #000;
}
input[type="email"]{
	font-family: 'NanumSquare', sans-serif !important;
	width: 150px;
	height: 32px;
	padding-left: 10px;
	border-radius: 11px;
	border:1px solid #000;
}
.edit_info{
	font-family: 'NanumSquare', sans-serif !important;
	width: 165px;
	font-size: 15px;
    font-weight: bold;
    height: 42px;
    border: 0;
    border-radius: 20px;
    background-color: #fadf57;
    color: #000;
}
.del_info{
	font-family: 'NanumSquare', sans-serif !important;
	width: 165px;
	font-size: 15px;
    font-weight: bold;
    height: 42px;
    border: 0;
    border-radius: 20px;
    background-color: #e47554;
    color: #000;
	
}
button:hover{
    background-color: rgb(233, 233, 233);
    color: #000;
    font-weight: 800;
}
.btn_info{
	margin-top: 30px;
}

.part1{
	float: left;
}
.height{
	border:0;
	margin-left: 80px;
	margin-right: 80px;
	width: 1px;
	height: 500px;
	float: left;
}

/* 동아리 신청현황 */
.my_sub{
	padding-top: 100px;
}
.my_sub_txt{
	font-family: 'NanumSquare', sans-serif !important;
	font-size: 24px;
    font-weight: bold;
}
.my_sub_info{
	font-family: 'NanumSquare', sans-serif !important;
	font-size: 15px;
	
}
/* 동아리 신청 테이블 */
.sub_table{
	font-family: 'NanumSquare', sans-serif !important;
	font-size: 15px;
	margin-top: 60px;
}
table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
  }